{#<form method="post">

    <div class="form-group">
        <label for="form[title]">
            Titre de l'article
        </label>
        <input type="text" name="form[title]" value="{{ form.title }}">
    </div>
    <div class="form-group">
        <label for="form[excerpt]">
            Extrait de l'article
        </label>
        <textarea name="form[excerpt]" id="" cols="30" rows="3">{{ form.excerpt }}</textarea>
    </div>
    <div class="form-group">
        <label for="form[content]">
            Contenu de l'article
        </label>
        <textarea name="form[content]" id="" cols="30" rows="10">{{ form.content }}</textarea>
    </div>
    <div class="form-group">
        <label for="form[content]">
            Auteur
        </label>

        <select name="form[author]" id="">
            {% for author in users %}
                <option {% if form.author and form.author.id == author.id %} selected {% endif %}
                        value="{{ author.id }}">{{ author.username }}</option>
            {% endfor %}

        </select>
    </div>
    <div class="mt-4">
        <a class="btn btn-secondary-danger mr-2" href="/intranet/post/{{ form.id }}/delete" name="btn_delete">Supprimer
            cette article </a>
        <button class="btn-primary" type="submit" name="btn_submit">Enregistrer les modifications</button>
    </div>


</form>#}

{# <form method="post"> #}
    <div class="form-group">
        <label for="form[title]">Titre</label>
        <input class="form-control" type="text" name="form[title]" value="{{ form.title }}">
    </div>
    <div class="form-group">
        <label for="form[excerpt]">Extrait</label>
        <textarea class="form-control" name="form[excerpt]" id="" cols="30" rows="3">{{ form.excerpt }}</textarea>
        <small class="form-text text-muted">Un extrait d'article</small>
    </div>
    <div class="form-group">
        <label for="form[content]">Contenu</label>
        <textarea class="form-control" name="form[content]" id="" cols="30" rows="10">{{ form.content|nl2br }}</textarea>
        <small class="form-text text-muted">Un extrait d'article</small>
    </div>
    <div class="mt-4">
        <a class="btn btn-outline-danger mr-2" href="/intranet/post/{{ form.id }}/delete" name="btn_delete">Supprimer
            cette article </a>
        <button class="btn btn-primary" type="submit" name="btn_submit">Enregistrer les modifications</button>
    </div>
{# </form> #}
